*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    position: relative;  
    overflow: hidden;

}

.divVideo{
    width: 100%;
    height: 100%;
    position: absolute;

    img{
        width: 100%;
        height: 100%;

    }
    z-index: 2;
}


.txtErro{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit:cover;

}


.conteudo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 60px;
    z-index: 3;

    h1{
        font-size: 40px;
        font-family: 'Poppins';
    }

    button{
        padding: 16px 24px;
        font-size: 18px;
        font-family: 'Poppins';
        border: none;
        outline: none;
        border-radius: 32px;
        cursor: pointer;
        margin-top: 20px;

    }

 


}

